@import url('https://fonts.googleapis.com/css?family=Roboto');
/*********************FOOTER******************************/
html, body {
    background: #F5F5F5 !important;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    min-height: 100%;
}

body{
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

/*********************FOOTER******************************/
.footer {
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: black;
    color: white;
    margin-top: 20px;
}








